<style>
body {
margin-left: 20px;
margin-right: 20px;
}

h1 {
text-align: left;
font-family: Arial;
font-style: italic;
font-size: 40px;
color: orangered;
border: 5px solid black;
background-color: rosybrown;
}	

address {
text-align: right;
font-family: Arial;
font-style: normal;
font-size: 15px;
color: darkgoldenrod;
}

h2 {
text-align: right;
font-family: Arial;
text-decoration: underline;
font-size: 20px;
color: rgb(99, 54, 54);
}
	
table, tr, td ,th {
border: 2px solid orangered;
border-collapse: collapse;
background-color: white;
}
table {
display: center;
margin-left: auto;
width: 800px;
height: 100px;
}
td {
text-align: center;
}

h3 {
text-align: center;
font-family: Arial;
text-decoration: underline;
font-size: 20px;
color: rgb(99, 54, 54);
}
	
section {
border: 4px solid rosybrown;
background-color: lightgrey;
}

h4 {
text-align: left;
font-family: Arial;
text-decoration: underline;
font-size: 20px;
color: rgb(99, 54, 54);
}

p {
text-align: left;
font-family: Arial;
font-weight: bolder;
text-decoration: underline;
font-size: 20px;
color: rgb(99, 54, 54)
}

il, li {
list-style-image: url ('sqpurple.gif');
text-align: left;
margin-left: auto;
margin-right: auto;
font-style: normal;
font-family: Arial;
}
img {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
border-radius: 8px;
opacity: 5;
width: 700px;
height: 400px;
}
	
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 350px;
  height: 200px;
}

div.desc {
  padding: 10px;
  text-align: center;
}

</style>